In [9]:
%matplotlib notebook

In [10]:
# Dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [11]:
# Take in all of our name data (.csv files) and read it into pandas

yob1991 = "DATA SET/yob1991.csv"
yob1992 = "DATA SET/yob1992.csv"
yob1993 = "DATA SET/yob1993.csv"
yob1994 = "DATA SET/yob1994.csv"
yob1995 = "DATA SET/yob1995.csv"
yob1996 = "DATA SET/yob1996.csv"
yob1997 = "DATA SET/yob1997.csv"
yob1998 = "DATA SET/yob1998.csv"
yob1999 = "DATA SET/yob1999.csv"
yob2000 = "DATA SET/yob2000.csv"
yob2001 = "DATA SET/yob2001.csv"
yob2002 = "DATA SET/yob2002.csv"
yob2003 = "DATA SET/yob2003.csv"
yob2004 = "DATA SET/yob2004.csv"
yob2005 = "DATA SET/yob2005.csv"
yob2006 = "DATA SET/yob2006.csv"
yob2007 = "DATA SET/yob2007.csv"
yob2008 = "DATA SET/yob2008.csv"
yob2009 = "DATA SET/yob2009.csv"
yob2010 = "DATA SET/yob2010.csv"
yob2011 = "DATA SET/yob2011.csv"
yob2012 = "DATA SET/yob2012.csv"
yob2013 = "DATA SET/yob2013.csv"
yob2014 = "DATA SET/yob2014.csv"
yob2015 = "DATA SET/yob2015.csv"
yob2016 = "DATA SET/yob2016.csv"
yob2017 = "DATA SET/yob2017.csv"
yob2018 = "DATA SET/yob2018.csv"

# Create dataframes for each .csv file (e.g. df for each year from 1991 to 2018)

yob1991_df = pd.read_csv(yob1991)
yob1992_df = pd.read_csv(yob1992)
yob1993_df = pd.read_csv(yob1993)
yob1994_df = pd.read_csv(yob1994)
yob1995_df = pd.read_csv(yob1995)
yob1996_df = pd.read_csv(yob1996)
yob1997_df = pd.read_csv(yob1997)
yob1998_df = pd.read_csv(yob1998)
yob1999_df = pd.read_csv(yob1999)
yob2000_df = pd.read_csv(yob2000)
yob2001_df = pd.read_csv(yob2001)
yob2002_df = pd.read_csv(yob2002)
yob2003_df = pd.read_csv(yob2003)
yob2004_df = pd.read_csv(yob2004)
yob2005_df = pd.read_csv(yob2005)
yob2006_df = pd.read_csv(yob2006)
yob2007_df = pd.read_csv(yob2007)
yob2008_df = pd.read_csv(yob2008)
yob2009_df = pd.read_csv(yob2009)
yob2010_df = pd.read_csv(yob2010)
yob2011_df = pd.read_csv(yob2011)
yob2012_df = pd.read_csv(yob2012)
yob2013_df = pd.read_csv(yob2013)
yob2014_df = pd.read_csv(yob2014)
yob2015_df = pd.read_csv(yob2015)
yob2016_df = pd.read_csv(yob2016)
yob2017_df = pd.read_csv(yob2017)
yob2018_df = pd.read_csv(yob2018)

In [12]:
# Create a header to each df

yob1991_df.columns =['Name', 'Gender', 'Count']
yob1992_df.columns =['Name', 'Gender', 'Count']
yob1993_df.columns =['Name', 'Gender', 'Count']
yob1994_df.columns =['Name', 'Gender', 'Count']
yob1995_df.columns =['Name', 'Gender', 'Count']
yob1996_df.columns =['Name', 'Gender', 'Count']
yob1997_df.columns =['Name', 'Gender', 'Count']
yob1998_df.columns =['Name', 'Gender', 'Count']
yob1999_df.columns =['Name', 'Gender', 'Count']
yob2000_df.columns =['Name', 'Gender', 'Count']
yob2001_df.columns =['Name', 'Gender', 'Count']
yob2002_df.columns =['Name', 'Gender', 'Count']
yob2003_df.columns =['Name', 'Gender', 'Count']
yob2004_df.columns =['Name', 'Gender', 'Count']
yob2005_df.columns =['Name', 'Gender', 'Count']
yob2006_df.columns =['Name', 'Gender', 'Count']
yob2007_df.columns =['Name', 'Gender', 'Count']
yob2008_df.columns =['Name', 'Gender', 'Count']
yob2009_df.columns =['Name', 'Gender', 'Count']
yob2010_df.columns =['Name', 'Gender', 'Count']
yob2011_df.columns =['Name', 'Gender', 'Count']
yob2012_df.columns =['Name', 'Gender', 'Count']
yob2013_df.columns =['Name', 'Gender', 'Count']
yob2014_df.columns =['Name', 'Gender', 'Count']
yob2015_df.columns =['Name', 'Gender', 'Count']
yob2016_df.columns =['Name', 'Gender', 'Count']
yob2017_df.columns =['Name', 'Gender', 'Count']
yob2018_df.columns =['Name', 'Gender', 'Count']

In [13]:
yob2018_df.head()

        Name Gender  Count
0     Olivia      F  17921
1        Ava      F  14924
2   Isabella      F  14464
3     Sophia      F  13928
4  Charlotte      F  12940

In [15]:
# Merge the first two datasets on "Name" 
combined_name_df = pd.merge(yob1991_df, yob1992_df, how='outer', on='Name')
combined_name_df

# Rename our _x columns to "Gender 1991", "Count 1991"
combined_name_df = combined_name_df.rename(columns={"Gender_x":"Gender 1991", "Count_x":"Count 1991"})

# Rename our _y columns to "Gender 1992", "Count 1992"
combined_name_df = combined_name_df.rename(columns={"Gender_y":"Gender 1992","Count_y":"Count 1992"})

combined_name_df.head()

       Name Gender 1991  Count 1991 Gender 1992  Count 1992
0   Jessica           F     43398.0           F     38356.0
1   Jessica           F     43398.0           M       101.0
2   Jessica           M       121.0           F     38356.0
3   Jessica           M       121.0           M       101.0
4  Brittany           F     29089.0           F     24977.0