In [1]:
%matplotlib notebook

In [2]:
# Dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
# Take in all of our name data (.csv files) and read it into pandas

yob1991 = "DATA SET/yob1991.csv"
yob1992 = "DATA SET/yob1992.csv"
yob1993 = "DATA SET/yob1993.csv"
yob1994 = "DATA SET/yob1994.csv"
yob1995 = "DATA SET/yob1995.csv"
yob1996 = "DATA SET/yob1996.csv"
yob1997 = "DATA SET/yob1997.csv"
yob1998 = "DATA SET/yob1998.csv"
yob1999 = "DATA SET/yob1999.csv"
yob2000 = "DATA SET/yob2000.csv"
yob2001 = "DATA SET/yob2001.csv"
yob2002 = "DATA SET/yob2002.csv"
yob2003 = "DATA SET/yob2003.csv"
yob2004 = "DATA SET/yob2004.csv"
yob2005 = "DATA SET/yob2005.csv"
yob2006 = "DATA SET/yob2006.csv"
yob2007 = "DATA SET/yob2007.csv"
yob2008 = "DATA SET/yob2008.csv"
yob2009 = "DATA SET/yob2009.csv"
yob2010 = "DATA SET/yob2010.csv"
yob2011 = "DATA SET/yob2011.csv"
yob2012 = "DATA SET/yob2012.csv"
yob2013 = "DATA SET/yob2013.csv"
yob2014 = "DATA SET/yob2014.csv"
yob2015 = "DATA SET/yob2015.csv"
yob2016 = "DATA SET/yob2016.csv"
yob2017 = "DATA SET/yob2017.csv"
yob2018 = "DATA SET/yob2018.csv"

# Create dataframes for each .csv file (e.g. df for each year from 1991 to 2018)

yob1991_df = pd.read_csv(yob1991)
yob1992_df = pd.read_csv(yob1992)
yob1993_df = pd.read_csv(yob1993)
yob1994_df = pd.read_csv(yob1994)
yob1995_df = pd.read_csv(yob1995)
yob1996_df = pd.read_csv(yob1996)
yob1997_df = pd.read_csv(yob1997)
yob1998_df = pd.read_csv(yob1998)
yob1999_df = pd.read_csv(yob1999)
yob2000_df = pd.read_csv(yob2000)
yob2001_df = pd.read_csv(yob2001)
yob2002_df = pd.read_csv(yob2002)
yob2003_df = pd.read_csv(yob2003)
yob2004_df = pd.read_csv(yob2004)
yob2005_df = pd.read_csv(yob2005)
yob2006_df = pd.read_csv(yob2006)
yob2007_df = pd.read_csv(yob2007)
yob2008_df = pd.read_csv(yob2008)
yob2009_df = pd.read_csv(yob2009)
yob2010_df = pd.read_csv(yob2010)
yob2011_df = pd.read_csv(yob2011)
yob2012_df = pd.read_csv(yob2012)
yob2013_df = pd.read_csv(yob2013)
yob2014_df = pd.read_csv(yob2014)
yob2015_df = pd.read_csv(yob2015)
yob2016_df = pd.read_csv(yob2016)
yob2017_df = pd.read_csv(yob2017)
yob2018_df = pd.read_csv(yob2018)

In [4]:
# Create a header to each df

yob1991_df.columns =['Name', 'Gender', 'Count']
yob1992_df.columns =['Name', 'Gender', 'Count']
yob1993_df.columns =['Name', 'Gender', 'Count']
yob1994_df.columns =['Name', 'Gender', 'Count']
yob1995_df.columns =['Name', 'Gender', 'Count']
yob1996_df.columns =['Name', 'Gender', 'Count']
yob1997_df.columns =['Name', 'Gender', 'Count']
yob1998_df.columns =['Name', 'Gender', 'Count']
yob1999_df.columns =['Name', 'Gender', 'Count']
yob2000_df.columns =['Name', 'Gender', 'Count']
yob2001_df.columns =['Name', 'Gender', 'Count']
yob2002_df.columns =['Name', 'Gender', 'Count']
yob2003_df.columns =['Name', 'Gender', 'Count']
yob2004_df.columns =['Name', 'Gender', 'Count']
yob2005_df.columns =['Name', 'Gender', 'Count']
yob2006_df.columns =['Name', 'Gender', 'Count']
yob2007_df.columns =['Name', 'Gender', 'Count']
yob2008_df.columns =['Name', 'Gender', 'Count']
yob2009_df.columns =['Name', 'Gender', 'Count']
yob2010_df.columns =['Name', 'Gender', 'Count']
yob2011_df.columns =['Name', 'Gender', 'Count']
yob2012_df.columns =['Name', 'Gender', 'Count']
yob2013_df.columns =['Name', 'Gender', 'Count']
yob2014_df.columns =['Name', 'Gender', 'Count']
yob2015_df.columns =['Name', 'Gender', 'Count']
yob2016_df.columns =['Name', 'Gender', 'Count']
yob2017_df.columns =['Name', 'Gender', 'Count']
yob2018_df.columns =['Name', 'Gender', 'Count']

In [5]:
yob2018_df.head()

        Name Gender  Count
0     Olivia      F  17921
1        Ava      F  14924
2   Isabella      F  14464
3     Sophia      F  13928
4  Charlotte      F  12940

In [6]:
# Merge the first two datasets on "Name" 
combined_name_df = pd.merge(yob1991_df, yob1992_df, how='inner', on=['Name', 'Gender'])
combined_name_df

# Rename our _x columns to "Gender 1991", "Count 1991"
combined_name_df = combined_name_df.rename(columns={"Count_x":"Count 1991"})

# Rename our _y columns to "Gender 1992", "Count 1992"
combined_name_df = combined_name_df.rename(columns={"Count_y":"Count 1992"})

In [7]:
# Merge year 2000 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2000_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2000"})

# Merge year 2001 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2001_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2001"})

# Merge year 2002 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2002_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2002"})

# Merge year 2003 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2003_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2003"})

# Merge year 2004 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2004_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2004"})

# Merge year 2005 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2005_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2005"})

# Merge year 2006 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2002_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2006"})

# Merge year 2007 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2007_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2007"})

# Merge year 2008 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2008_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2008"})

In [9]:
# Merge year 2009 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2009_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2009"})

# Merge year 2010 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2010_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2010"})

# Merge year 2011 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2011_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2011"})

# Merge year 2012 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2012_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2012"})

# Merge year 2013 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2013_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2013"})

# Merge year 2014 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2014_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2014"})

# Merge year 2015 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2015_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2015"})

# Merge year 2016 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2016_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2016"})

# Merge year 2017 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2017_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2017"})

# Merge year 2018 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2018_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2018"})

In [10]:
combined_name_df

,Name,Gender,Count 1991,Count 1992,Count 2000,Count 2001,Count 2002,Count 2003,Count 2004,Count 2005,...,Count 2009,Count 2010,Count 2011,Count 2012,Count 2013,Count 2014,Count 2015,Count 2016,Count 2017,Count 2018
0,Jessica,F,43398,38356,15709,13922,11918,10449,9470,8112,...,3798,3198,2620,2332,1947,1797,1587,1386,1278,1057
1,Brittany,F,29089,24977,5183,2929,1936,1579,1356,1193,...,670,728,748,768,718,697,687,571,401,305
2,Amanda,F,28893,25033,8554,6967,6134,5339,4680,4093,...,1956,1657,1411,1232,1069,1053,1023,998,958,844
3,Samantha,F,25645,24409,17265,15864,14666,13867,13783,13638,...,9660,8408,7395,6929,6505,5726,5340,4952,4318,3897
4,Sarah,F,25225,24635,17702,15899,14760,13760,12737,11532,...,7780,6328,5556,5190,4701,4703,4521,4412,4009,3734
5,Stephanie,F,22774,19672,7028,6610,6267,5602,5181,4700,...,2921,2488,2147,1885,1675,1641,1558,1370,1131,1026
6,Jennifer,F,20673,17819,9386,8922,8537,7565,6542,5836,...,2987,2619,2278,1923,1691,1521,1283,1160,1048,915
7,Elizabeth,F,20392,19032,15099,14786,14604,14103,13561,12731,...,11035,10262,10091,9708,9454,9564,9730,9555,8955,8513
8,Megan,F,19277,17842,11434,10299,9210,7799,6687,5856,...,3055,2403,1912,1559,1245,1061,852,747,626,564
9,Kayla,F,18544,16517,13312,11891,11310,10953,9768,8616,...,5840,5055,4327,3770,3256,3007,2736,2462,2118,1875
10,Lauren,F,18407,17214,14175,12781,12325,11050,9981,9247,...,5199,4466,4098,3658,3345,3090,2692,2322,1982,1696
11,Rachel,F,16344,15837,10675,9539,8927,7981,6915,6213,...,3584,3017,2656,2415,2312,2085,1927,1872,1610,1544
12,Nicole,F,16050,16323,8562,7817,6974,6230,5739,4988,...,2768,2567,2655,2654,3350,2533,2113,1948,1661,1416
13,Amber,F,14992,13917,6181,5573,4723,4122,3636,3141,...,1772,1415,1235,1232,1112,1064,976,869,779,658
14,Danielle,F,13617,14097,6088,4789,4204,3863,3528,3134,...,1932,1604,1499,1373,1236,1242,1087,991,912,809
15,Chelsea,F,13511,16174,2380,2118,1785,1838,1752,1734,...,1429,1417,1425,1356,1177,1194,1055,930,814,659
16,Courtney,F,13441,12601,5239,4175,3580,3347,2762,2195,...,1060,900,752,637,557,417,373,347,277,199
17,Melissa,F,13344,11710,4529,4145,3767,3501,3335,3084,...,2335,1949,1708,1771,1591,1506,1281,1234,1169,1114
18,Rebecca,F,13296,13111,7066,5886,5212,4861,4458,4010,...,2465,2290,2115,2013,1799,1778,1721,1575,1425,1442
19,Michelle,F,12214,11512,5544,5029,4949,4868,4716,4311,...,3078,2506,2177,1931,1888,1749,1701,1560,1427,1239
20,Heather,F,11700,9724,2684,2274,2066,1617,1303,1067,...,553,421,391,328,315,329,281,273,221,210
21,Jasmine,F,11524,10475,9097,8956,8867,8063,8486,7866,...,4878,4173,3698,3382,3054,3024,2803,2641,2263,2133
22,Katherine,F,11490,11148,8108,7879,7212,7125,6738,6391,...,4428,3866,4186,3951,3719,3678,3445,3271,2853,2666
23,Kelsey,F,11431,11713,3669,3267,2883,2569,2198,1960,...,1521,1349,1263,1212,1049,1017,951,856,786,738
24,Tiffany,F,11155,9721,3305,2690,2398,2257,1955,1765,...,1168,1028,918,848,705,726,649,558,517,418
25,Victoria,F,10915,11906,10925,10180,9784,9244,8276,7956,...,6361,6227,6887,6861,7204,7996,7609,7310,7292,7089
26,Hannah,F,10769,11491,23082,20716,18822,17637,15605,14845,...,7572,6988,6571,7275,7298,6585,6414,6013,5907,5629
27,Alyssa,F,10677,10163,13553,13272,12844,12749,12105,10890,...,7966,6991,6018,5086,4201,3829,3252,2671,2236,1870
28,Christina,F,10568,9439,4328,3741,3387,3112,2732,2452,...,1469,1285,1179,1123,1066,1022,979,847,777,719
29,Taylor,F,10254,14948,15078,13693,11467,10308,9303,8672,...,7583,5896,5189,4864,4138,3809,3746,3276,2699,2478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9560,Taylen,M,5,5,32,42,35,44,29,49,...,88,67,71,71,93,76,70,86,85,90
9561,Tej,M,5,6,17,19,24,24,31,24,...,22,30,33,27,24,27,26,25,26,19
9562,Teo,M,5,8,15,22,21,33,30,41,...,69,63,66,66,65,85,88,103,101,129
9563,Tigran,M,5,10,17,5,15,14,17,15,...,25,19,12,16,11,14,20,16,19,15
9564,Tilden,M,5,7,7,9,12,7,12,11,...,22,12,13,25,24,21,20,28,18,25
9565,Toren,M,5,20,13,19,19,27,17,23,...,39,32,21,27,25,38,36,25,28,22
9566,Toribio,M,5,11,7,12,8,7,14,8,...,10,8,6,11,6,6,7,6,5,7
9567,Trayce,M,5,10,9,18,8,11,23,15,...,23,24,22,20,16,21,17,19,27,16
9568,Trustin,M,5,6,17,21,18,26,36,19,...,29,34,25,24,19,24,15,16,16,9
9569,Tymere,M,5,9,16,18,25,28,14,21,...,31,20,22,14,16,11,19,18,13,11
9570,Umer,M,5,7,13,12,17,16,15,15,...,11,11,15,11,11,8,12,12,15,10
9571,Uzziel,M,5,5,14,19,13,15,20,18,...,31,22,24,18,18,21,18,21,22,21
9572,Waylan,M,5,10,16,7,14,18,18,23,...,23,46,36,39,31,38,44,44,44,48
9573,Whitman,M,5,7,16,16,6,14,14,11,...,18,24,24,26,35,25,31,36,36,38
9574,Winter,M,5,6,15,21,24,18,12,23,...,15,12,13,34,19,35,33,46,42,35
9575,Wyman,M,5,12,8,8,6,13,9,6,...,11,5,6,6,7,5,9,9,9,5
9576,Wynston,M,5,7,13,7,7,9,9,8,...,15,15,23,22,18,23,21,32,33,40
9577,Xavior,M,5,5,29,45,48,64,41,49,...,106,88,74,60,55,42,32,38,41,30
9578,Yash,M,5,5,100,96,155,144,136,149,...,130,111,85,99,67,72,64,73,64,53
9579,Yassin,M,5,5,18,15,23,19,34,25,...,46,46,50,59,70,66,55,64,50,47
9580,Yianni,M,5,5,12,7,15,10,20,7,...,21,12,22,10,17,12,18,17,19,16
9581,Yonah,M,5,10,17,24,23,18,17,25,...,32,24,19,27,29,28,20,22,21,30
9582,Yoshua,M,5,11,13,11,8,12,19,13,...,18,24,18,21,16,17,16,20,19,14
9583,Yovanny,M,5,10,13,14,19,14,15,18,...,18,20,14,15,10,7,9,10,7,10
9584,Yuval,M,5,12,10,12,12,9,12,18,...,14,17,9,14,10,12,7,8,5,6
9585,Zakari,M,5,23,23,31,27,22,32,26,...,36,53,58,38,37,46,61,95,106,164
9586,Zakk,M,5,15,10,8,21,27,17,30,...,26,30,20,15,21,20,15,14,11,14
9587,Zander,M,5,9,150,274,420,957,1140,911,...,1146,1116,1305,1467,1594,1520,1460,1387,1554,1383
9588,Zarek,M,5,10,43,36,39,31,37,42,...,44,44,44,47,38,50,31,22,26,24
9589,Zavion,M,5,7,57,76,109,89,137,111,...,199,186,176,147,131,124,112,135,98,109