In [1]:
%matplotlib notebook

In [2]:
# Dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:

# Take in all of our name data and read it into pandas
yob1991 = "DATA SET/yob1991.csv"
yob1992 = "DATA SET/yob1992.csv"
yob1993 = "DATA SET/yob1993.csv"
yob1994 = "DATA SET/yob1994.csv"
yob1995 = "DATA SET/yob1995.csv"
yob1996 = "DATA SET/yob1996.csv"
yob1997 = "DATA SET/yob1997.csv"
yob1998 = "DATA SET/yob1998.csv"
yob1999 = "DATA SET/yob1999.csv"
yob2000 = "DATA SET/yob2000.csv"
yob2001 = "DATA SET/yob2001.csv"
yob2002 = "DATA SET/yob2002.csv"
yob2003 = "DATA SET/yob2003.csv"
yob2004 = "DATA SET/yob2004.csv"
yob2005 = "DATA SET/yob2005.csv"
yob2006 = "DATA SET/yob2006.csv"
yob2007 = "DATA SET/yob2007.csv"
yob2008 = "DATA SET/yob2008.csv"
yob2009 = "DATA SET/yob2009.csv"
yob2010 = "DATA SET/yob2010.csv"
yob2011 = "DATA SET/yob2011.csv"
yob2012 = "DATA SET/yob2012.csv"
yob2013 = "DATA SET/yob2013.csv"
yob2014 = "DATA SET/yob2014.csv"
yob2015 = "DATA SET/yob2015.csv"
yob2016 = "DATA SET/yob2016.csv"
yob2017 = "DATA SET/yob2017.csv"
yob2018 = "DATA SET/yob2018.csv"

yob1991_df = pd.read_csv(yob1991)
yob1992_df = pd.read_csv(yob1992)
yob1993_df = pd.read_csv(yob1993)
yob1994_df = pd.read_csv(yob1994)
yob1995_df = pd.read_csv(yob1995)
yob1996_df = pd.read_csv(yob1996)
yob1997_df = pd.read_csv(yob1997)
yob1998_df = pd.read_csv(yob1998)
yob1999_df = pd.read_csv(yob1999)
yob2000_df = pd.read_csv(yob2000)
yob2001_df = pd.read_csv(yob2001)
yob2002_df = pd.read_csv(yob2002)
yob2003_df = pd.read_csv(yob2003)
yob2004_df = pd.read_csv(yob2004)
yob2005_df = pd.read_csv(yob2005)
yob2006_df = pd.read_csv(yob2006)
yob2007_df = pd.read_csv(yob2007)
yob2008_df = pd.read_csv(yob2008)
yob2009_df = pd.read_csv(yob2009)
yob2010_df = pd.read_csv(yob2010)
yob2011_df = pd.read_csv(yob2011)
yob2012_df = pd.read_csv(yob2012)
yob2013_df = pd.read_csv(yob2013)
yob2014_df = pd.read_csv(yob2014)
yob2015_df = pd.read_csv(yob2015)
yob2016_df = pd.read_csv(yob2016)
yob2017_df = pd.read_csv(yob2017)
yob2018_df = pd.read_csv(yob2018)

In [4]:
# Create a new column "Year" to each df before merging 
yob1991_df["Year"] = 1991
yob1992_df["Year"] = 1992
yob1993_df["Year"] = 1993
yob1994_df["Year"] = 1994
yob1995_df["Year"] = 1995
yob1996_df["Year"] = 1996
yob1997_df["Year"] = 1997
yob1998_df["Year"] = 1998
yob1999_df["Year"] = 1999
yob2000_df["Year"] = 2000
yob2001_df["Year"] = 2001
yob2002_df["Year"] = 2002
yob2003_df["Year"] = 2003
yob2004_df["Year"] = 2004
yob2005_df["Year"] = 2005
yob2006_df["Year"] = 2006
yob2007_df["Year"] = 2007
yob2008_df["Year"] = 2008
yob2009_df["Year"] = 2009
yob2010_df["Year"] = 2010
yob2011_df["Year"] = 2011
yob2012_df["Year"] = 2012
yob2013_df["Year"] = 2013
yob2014_df["Year"] = 2014
yob2015_df["Year"] = 2015
yob2016_df["Year"] = 2016
yob2017_df["Year"] = 2017
yob2018_df["Year"] = 2018

In [6]:
yob2018_df.head()

        Emma  F  18688  Year
0     Olivia  F  17921  2018
1        Ava  F  14924  2018
2   Isabella  F  14464  2018
3     Sophia  F  13928  2018
4  Charlotte  F  12940  2018