In [1]:
%matplotlib notebook

In [2]:
# Dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
# Take in all of our name data (.csv files) and read it into pandas

yob1991 = "DATA SET/yob1991.csv"
yob1992 = "DATA SET/yob1992.csv"
yob1993 = "DATA SET/yob1993.csv"
yob1994 = "DATA SET/yob1994.csv"
yob1995 = "DATA SET/yob1995.csv"
yob1996 = "DATA SET/yob1996.csv"
yob1997 = "DATA SET/yob1997.csv"
yob1998 = "DATA SET/yob1998.csv"
yob1999 = "DATA SET/yob1999.csv"
yob2000 = "DATA SET/yob2000.csv"
yob2001 = "DATA SET/yob2001.csv"
yob2002 = "DATA SET/yob2002.csv"
yob2003 = "DATA SET/yob2003.csv"
yob2004 = "DATA SET/yob2004.csv"
yob2005 = "DATA SET/yob2005.csv"
yob2006 = "DATA SET/yob2006.csv"
yob2007 = "DATA SET/yob2007.csv"
yob2008 = "DATA SET/yob2008.csv"
yob2009 = "DATA SET/yob2009.csv"
yob2010 = "DATA SET/yob2010.csv"
yob2011 = "DATA SET/yob2011.csv"
yob2012 = "DATA SET/yob2012.csv"
yob2013 = "DATA SET/yob2013.csv"
yob2014 = "DATA SET/yob2014.csv"
yob2015 = "DATA SET/yob2015.csv"
yob2016 = "DATA SET/yob2016.csv"
yob2017 = "DATA SET/yob2017.csv"
yob2018 = "DATA SET/yob2018.csv"

# Create dataframes for each .csv file (e.g. df for each year from 1991 to 2018)

yob1991_df = pd.read_csv(yob1991)
yob1992_df = pd.read_csv(yob1992)
yob1993_df = pd.read_csv(yob1993)
yob1994_df = pd.read_csv(yob1994)
yob1995_df = pd.read_csv(yob1995)
yob1996_df = pd.read_csv(yob1996)
yob1997_df = pd.read_csv(yob1997)
yob1998_df = pd.read_csv(yob1998)
yob1999_df = pd.read_csv(yob1999)
yob2000_df = pd.read_csv(yob2000)
yob2001_df = pd.read_csv(yob2001)
yob2002_df = pd.read_csv(yob2002)
yob2003_df = pd.read_csv(yob2003)
yob2004_df = pd.read_csv(yob2004)
yob2005_df = pd.read_csv(yob2005)
yob2006_df = pd.read_csv(yob2006)
yob2007_df = pd.read_csv(yob2007)
yob2008_df = pd.read_csv(yob2008)
yob2009_df = pd.read_csv(yob2009)
yob2010_df = pd.read_csv(yob2010)
yob2011_df = pd.read_csv(yob2011)
yob2012_df = pd.read_csv(yob2012)
yob2013_df = pd.read_csv(yob2013)
yob2014_df = pd.read_csv(yob2014)
yob2015_df = pd.read_csv(yob2015)
yob2016_df = pd.read_csv(yob2016)
yob2017_df = pd.read_csv(yob2017)
yob2018_df = pd.read_csv(yob2018)

In [4]:
# Create a header to each df

yob1991_df.columns =['Name', 'Gender', 'Count']
yob1992_df.columns =['Name', 'Gender', 'Count']
yob1993_df.columns =['Name', 'Gender', 'Count']
yob1994_df.columns =['Name', 'Gender', 'Count']
yob1995_df.columns =['Name', 'Gender', 'Count']
yob1996_df.columns =['Name', 'Gender', 'Count']
yob1997_df.columns =['Name', 'Gender', 'Count']
yob1998_df.columns =['Name', 'Gender', 'Count']
yob1999_df.columns =['Name', 'Gender', 'Count']
yob2000_df.columns =['Name', 'Gender', 'Count']
yob2001_df.columns =['Name', 'Gender', 'Count']
yob2002_df.columns =['Name', 'Gender', 'Count']
yob2003_df.columns =['Name', 'Gender', 'Count']
yob2004_df.columns =['Name', 'Gender', 'Count']
yob2005_df.columns =['Name', 'Gender', 'Count']
yob2006_df.columns =['Name', 'Gender', 'Count']
yob2007_df.columns =['Name', 'Gender', 'Count']
yob2008_df.columns =['Name', 'Gender', 'Count']
yob2009_df.columns =['Name', 'Gender', 'Count']
yob2010_df.columns =['Name', 'Gender', 'Count']
yob2011_df.columns =['Name', 'Gender', 'Count']
yob2012_df.columns =['Name', 'Gender', 'Count']
yob2013_df.columns =['Name', 'Gender', 'Count']
yob2014_df.columns =['Name', 'Gender', 'Count']
yob2015_df.columns =['Name', 'Gender', 'Count']
yob2016_df.columns =['Name', 'Gender', 'Count']
yob2017_df.columns =['Name', 'Gender', 'Count']
yob2018_df.columns =['Name', 'Gender', 'Count']

In [5]:
yob2018_df.head()

        Name Gender  Count
0     Olivia      F  17921
1        Ava      F  14924
2   Isabella      F  14464
3     Sophia      F  13928
4  Charlotte      F  12940

In [6]:
# Merge the first two datasets on "Name" 
combined_name_df = pd.merge(yob1991_df, yob1992_df, how='inner', on=['Name', 'Gender'])
# Rename our _x and _y columns to "Count 1991", "Count 1992"
combined_name_df = combined_name_df.rename(columns={"Count_x":"Count 1991", "Count_y": "Count 1992"})


# Merge combined data with dataset 1993
combined_name_df = pd.merge(combined_name_df, yob1993_df, how='inner', on=['Name', 'Gender'])
# Rename columns 
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1993"})


# Merge combined data with dataset 1994
combined_name_df = pd.merge(combined_name_df, yob1994_df, how='inner', on=['Name', 'Gender'])
# Rename columns
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1994"})


# Merge combined data with dataset 1995
combined_name_df = pd.merge(combined_name_df, yob1995_df, how='inner', on=['Name', 'Gender'])
# Rename columns
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1995"})

# Merge combined data with dataset 1996
combined_name_df = pd.merge(combined_name_df, yob1996_df, how='inner', on=['Name', 'Gender'])
# Rename columns
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1996"})


# Merge combined data with dataset 1997
combined_name_df = pd.merge(combined_name_df, yob1997_df, how='inner', on=['Name', 'Gender'])
# Rename columns
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1997"})


# Merge combined data with dataset 1998
combined_name_df = pd.merge(combined_name_df, yob1998_df, how='inner', on=['Name', 'Gender'])
# Rename columns
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1998"})


# Merge combined data with dataset 1999
combined_name_df = pd.merge(combined_name_df, yob1999_df, how='inner', on=['Name', 'Gender'])
# Rename columns
combined_name_df = combined_name_df.rename(columns={"Count":"Count 1999"})

In [7]:
# Merge year 2000 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2000_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2000"})

# Merge year 2001 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2001_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2001"})

# Merge year 2002 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2002_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2002"})

# Merge year 2003 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2003_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2003"})

# Merge year 2004 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2004_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2004"})

# Merge year 2005 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2005_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2005"})

# Merge year 2006 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2002_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2006"})

# Merge year 2007 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2007_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2007"})

# Merge year 2008 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2008_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2008"})

In [8]:
# Merge year 2009 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2009_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2009"})

# Merge year 2010 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2010_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2010"})

# Merge year 2011 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2011_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2011"})

# Merge year 2012 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2012_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2012"})

# Merge year 2013 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2013_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2013"})

# Merge year 2014 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2014_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2014"})

# Merge year 2015 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2015_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2015"})

# Merge year 2016 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2016_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2016"})

# Merge year 2017 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2017_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2017"})

# Merge year 2018 to combined_name_df
combined_name_df = pd.merge(combined_name_df, yob2018_df, how='inner', on=['Name', 'Gender'])
combined_name_df = combined_name_df.rename(columns={"Count":"Count 2018"})

In [9]:
combined_name_df

,Name,Gender,Count 1991,Count 1992,Count 1993,Count 1994,Count 1995,Count 1996,Count 1997,Count 1998,...,Count 2009,Count 2010,Count 2011,Count 2012,Count 2013,Count 2014,Count 2015,Count 2016,Count 2017,Count 2018
0,Brittany,F,29089,24977,21724,18901,16476,13796,11527,9843,...,670,728,748,768,718,697,687,571,401,305
1,Amanda,F,28893,25033,20811,18718,16351,13975,12241,10915,...,1956,1657,1411,1232,1069,1053,1023,998,958,844
2,Samantha,F,25645,24409,23668,22820,21644,20548,20169,20192,...,9660,8408,7395,6929,6505,5726,5340,4952,4318,3897
3,Sarah,F,25225,24635,24252,22291,21383,21040,20707,19884,...,7780,6328,5556,5190,4701,4703,4521,4412,4009,3734
4,Stephanie,F,22774,19672,17183,14748,12978,11642,9778,8491,...,2921,2488,2147,1885,1675,1641,1558,1370,1131,1026
5,Jennifer,F,20673,17819,15748,13999,12686,11728,11839,10691,...,2987,2619,2278,1923,1691,1521,1283,1160,1048,915
6,Elizabeth,F,20392,19032,17557,16782,16185,15998,15423,15187,...,11035,10262,10091,9708,9454,9564,9730,9555,8955,8513
7,Megan,F,19277,17842,16384,16580,15528,14769,14242,13253,...,3055,2403,1912,1559,1245,1061,852,747,626,564
8,Kayla,F,18544,16517,15449,15884,16086,15269,13884,13422,...,5840,5055,4327,3770,3256,3007,2736,2462,2118,1875
9,Lauren,F,18407,17214,16186,15157,13445,12594,13245,12907,...,5199,4466,4098,3658,3345,3090,2692,2322,1982,1696
10,Rachel,F,16344,15837,15973,15488,16045,16117,13791,12204,...,3584,3017,2656,2415,2312,2085,1927,1872,1610,1544
11,Nicole,F,16050,16323,16180,16011,12276,11132,10744,9911,...,2768,2567,2655,2654,3350,2533,2113,1948,1661,1416
12,Amber,F,14992,13917,14066,12342,10962,9770,8913,7929,...,1772,1415,1235,1232,1112,1064,976,869,779,658
13,Danielle,F,13617,14097,12986,12448,10651,9285,8034,7368,...,1932,1604,1499,1373,1236,1242,1087,991,912,809
14,Chelsea,F,13511,16174,11288,7717,6760,5865,4460,3518,...,1429,1417,1425,1356,1177,1194,1055,930,814,659
15,Courtney,F,13441,12601,12575,12018,12771,11343,9036,7554,...,1060,900,752,637,557,417,373,347,277,199
16,Melissa,F,13344,11710,10223,8798,7877,7169,6679,5354,...,2335,1949,1708,1771,1591,1506,1281,1234,1169,1114
17,Rebecca,F,13296,13111,12318,11280,9906,10626,9630,8420,...,2465,2290,2115,2013,1799,1778,1721,1575,1425,1442
18,Michelle,F,12214,11512,10187,8637,7391,6596,5694,5561,...,3078,2506,2177,1931,1888,1749,1701,1560,1427,1239
19,Heather,F,11700,9724,8103,7034,6032,4758,3768,3397,...,553,421,391,328,315,329,281,273,221,210
20,Jasmine,F,11524,10475,12062,11712,10278,9708,9679,9484,...,4878,4173,3698,3382,3054,3024,2803,2641,2263,2133
21,Katherine,F,11490,11148,10506,9587,8985,8875,8516,8204,...,4428,3866,4186,3951,3719,3678,3445,3271,2853,2666
22,Kelsey,F,11431,11713,11378,9749,8182,7655,5572,5550,...,1521,1349,1263,1212,1049,1017,951,856,786,738
23,Tiffany,F,11155,9721,8583,8096,6936,6157,5221,4612,...,1168,1028,918,848,705,726,649,558,517,418
24,Victoria,F,10915,11906,12923,12690,12251,11858,11791,12147,...,6361,6227,6887,6861,7204,7996,7609,7310,7292,7089
25,Hannah,F,10769,11491,12506,14493,17010,18596,20593,21373,...,7572,6988,6571,7275,7298,6585,6414,6013,5907,5629
26,Alyssa,F,10677,10163,11030,10603,10100,11022,12647,13710,...,7966,6991,6018,5086,4201,3829,3252,2671,2236,1870
27,Christina,F,10568,9439,8286,7670,6952,5803,5181,4531,...,1469,1285,1179,1123,1066,1022,979,847,777,719
28,Taylor,F,10254,14948,21267,20733,20425,19152,19502,18572,...,7583,5896,5189,4864,4138,3809,3746,3276,2699,2478
29,Shelby,F,10218,9397,8121,7546,7632,7949,6700,5893,...,1934,1677,1459,1444,1235,1110,1073,981,835,732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8975,Reis,M,5,12,11,15,12,14,11,33,...,35,26,18,29,34,14,16,20,16,15
8976,Savon,M,5,7,179,178,132,61,125,117,...,32,22,23,23,21,20,18,23,36,22
8977,Sergey,M,5,10,10,15,14,11,19,23,...,14,16,17,18,10,14,14,16,12,7
8978,Shreyas,M,5,5,6,7,7,7,8,19,...,87,71,59,58,44,49,43,32,46,37
8979,Sohail,M,5,6,13,11,8,6,16,13,...,10,7,12,7,7,11,7,13,19,10
8980,Stefanos,M,5,5,9,9,15,15,14,8,...,10,11,10,14,14,6,15,11,12,10
8981,Sylas,M,5,5,8,11,15,23,20,22,...,253,256,376,387,507,381,438,411,388,417
8982,Tabor,M,5,15,24,19,22,17,19,32,...,17,16,17,20,16,15,24,22,17,17
8983,Taylan,M,5,6,6,6,10,9,12,21,...,45,47,46,29,35,29,40,32,37,30
8984,Taylen,M,5,5,13,9,13,7,17,22,...,88,67,71,71,93,76,70,86,85,90
8985,Tej,M,5,6,8,7,11,7,15,7,...,22,30,33,27,24,27,26,25,26,19
8986,Teo,M,5,8,10,8,10,14,11,7,...,69,63,66,66,65,85,88,103,101,129
8987,Toren,M,5,20,17,15,19,17,16,17,...,39,32,21,27,25,38,36,25,28,22
8988,Toribio,M,5,11,10,8,11,8,12,8,...,10,8,6,11,6,6,7,6,5,7
8989,Tymere,M,5,9,6,10,8,10,13,11,...,31,20,22,14,16,11,19,18,13,11
8990,Uzziel,M,5,5,9,7,13,12,11,12,...,31,22,24,18,18,21,18,21,22,21
8991,Waylan,M,5,10,5,7,9,8,15,10,...,23,46,36,39,31,38,44,44,44,48
8992,Winter,M,5,6,8,11,14,12,13,15,...,15,12,13,34,19,35,33,46,42,35
8993,Wyman,M,5,12,9,8,15,17,11,14,...,11,5,6,6,7,5,9,9,9,5
8994,Xavior,M,5,5,6,12,13,17,13,16,...,106,88,74,60,55,42,32,38,41,30
8995,Yash,M,5,5,12,18,32,54,56,65,...,130,111,85,99,67,72,64,73,64,53
8996,Yianni,M,5,5,7,9,10,14,11,11,...,21,12,22,10,17,12,18,17,19,16
8997,Yonah,M,5,10,12,18,17,20,8,18,...,32,24,19,27,29,28,20,22,21,30
8998,Yoshua,M,5,11,6,11,12,12,5,8,...,18,24,18,21,16,17,16,20,19,14
8999,Yovanny,M,5,10,11,10,8,11,7,13,...,18,20,14,15,10,7,9,10,7,10
9000,Yuval,M,5,12,5,5,9,9,8,11,...,14,17,9,14,10,12,7,8,5,6
9001,Zakari,M,5,23,19,20,13,21,10,19,...,36,53,58,38,37,46,61,95,106,164
9002,Zander,M,5,9,11,8,12,18,32,79,...,1146,1116,1305,1467,1594,1520,1460,1387,1554,1383
9003,Zarek,M,5,10,13,17,18,15,26,28,...,44,44,44,47,38,50,31,22,26,24
9004,Zavion,M,5,7,8,7,7,7,20,24,...,199,186,176,147,131,124,112,135,98,109